@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  background-color: #2C445B;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* To make Pop-up more readable */
.mapboxgl-popup {
  background-color: #ffffffa6;
  border: 1px solid gray;
}

.map {
  padding: 0;
}

.map-container {
  margin-top: 80px;
}

.sidebar {
  position: fixed;
  top: 50px;
  bottom: 0;
  min-width: 300px;
  overflow-y: scroll;
  background-color: #2C445B;
  padding: 0 15px 15px;
}
.sidebar.collapse {
  transition-timing-function: ease;
  transition-duration: .2s;
}
.sidebar.collapsing {
  opacity: 0.8;
  width: 0;
  transition-timing-function: ease-in;
  transition-property: width;
}

.offset-md-2 {
  margin-left: 16.666667%;
}

.routes-header {
  margin-top: 15px;
  color: #FFFFFF;
}

.stops-toggle {
  margin-bottom: -8px;
}

.route-input {
  margin-right: 5px;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  display: inherit;
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/*
  override for separating date/time buttons due to https://github.com/jquense/react-widgets/issues/694
  pull request: https://github.com/trynmaps/opentransit-map/pull/80
*/
.routes-header > .rw-datetime-picker > .rw-widget-picker > .rw-select > button {
  border-right: 1px solid #CCC;
}

.routes-header > .rw-datetime-picker > .rw-widget-picker > .rw-select-bordered:hover {
  background-color: #FFF;
}

.routes-header > .rw-datetime-picker > .rw-widget-picker > .rw-select-bordered:active {
  box-shadow: none;
}
  
.routes-header > .rw-datetime-picker > .rw-widget-picker > .rw-select-bordered > .rw-btn:hover {
  background-color: #E6E6E6;
}
