@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* To make Pop-up more readable */
.mapboxgl-popup {
  background-color: #ffffffa6;
  border: 1px solid gray;
}

.map {
  padding: 0;
}

.sidebar {
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  background-color: #2C445B;
}

.offset-md-2 {
  margin-left: 16.666667%;
}

.control-panel {
  margin: 15px;
}

.routes-header {
  color: #FFFFFF;
}

ul.route-checkboxes {
  padding: 0;
}

ul.route-checkboxes li {
  list-style: none;
}

ul.route-checkboxes li {
  color: #fff;
}
